.topBar-container {
  background-color: #4f75f8;

  a {
    color: #ffffff;

    &:hover, &:focus {
      color: #E5E5E5 !important;
    }
  }

  .button--action {
    background-color: #4b71fc;
    border-color: #fff;
    color: #fff;

    &:hover, &:focus {
      background-color: #3a426e;
      border-color: #3a426e;
    }
  }
}

.top-bar-actions {
  width: 30%;
}

.top-bar .name img, [top-bar] .name img {
    width: 7.33333rem;
    top: 2px;
    position: relative;
}

.block-container {
    padding-top: 0 !important;
}

.home-block {
    background: url('/images/hero.svg') no-repeat 100%;
    background-size: 575px;
}

@media (max-width: 768px) {
    .top-bar .title-area, [top-bar] .title-area {
        margin-left: 0;
        padding: 0;
        text-align: center;
    }

    .top-bar .name img, [top-bar] .name img {
        display: inherit;
        height: 52px;
    }
}

@media (min-width: 769px) {
.top-bar-section, [top-bar-section] {
    width: 50%;
  }
}

@media (max-width: 1023px) {
.hideOnTablet {
    display: none;
  }
}

#tocify-header0 > li {
  display: none;
}

.changelog {
  .content h1, h2 {
    color: white;
    font-size: 0em;
  }
  h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 11px;
  }
} 

table td:nth-child(3) {
  word-break: break-word;
}

.vtwo-links {
  padding: 0 15px 0 15px;

  #vtwo-link1, #vtwo-link2, #vtwo-link3 {
    font-size: 14px;
    color: #595864;
  }
}

.themes .content {
    width: 80%;
    min-width: 850px;
}

.jumptarget::before {
  content: "";
  display: block;
  height: 85px; 
  margin: -85px 0 0; 
}

#support-h1 {
  font-size: 1.55556rem;
  font-weight: 400;
  color: #4f75f8;
  position: relative;
  left: 11%;
  text-transform: uppercase;
}

.api-nav {
  margin-bottom: 36px;
}

.separator-top {
    margin-top: 10px;
}

.separator {
  border-top: 1px solid #595864;
}

.nav-label {
  margin-left: 36px;
  margin-bottom: 12px;
  font-size: 15px;
  font-weight: normal;
  margin-top: 32px;
}

.clear {
  clear: both;
}

.btn:focus {
  outline: 0;
}
