<header role="banner">
  <div class="topBar-container topBar-container--fixed">
    <nav class="top-bar ng-isolate-scope" ng-transclude="" top-bar="" style="height: 81px;">
      <ul class="title-area ng-scope">
        <li class="name"><%= link_to image_tag("developer.png"), "/" %></li>
      </ul>
      <section class="top-bar-section ng-scope">
        <ul class="menuItems">
          <li><a href="/api/" title="API">API</a></li>
          <li><a href="/themes/" title="Themes">Themes</a></li>
          <li><a href="/changelog/" title="Changelog">Changelog</a></li>
          <li><a href="/support/" title="Help and Support">Support</a></li>
        </ul>
      </section>
      <div class="top-bar-actions ng-scope">
        <div class="optional"><a href="https://dev-tools.bigcommerce.com/myapps">Log In</a></div>
        <div class="optional">
      <button class="button button--action button--small"><a href="https://login.bigcommerce.com/signup">Create Account</a></button>
    </div>
      </div>
    </nav>
  </div>
</header>